<div class="home-container">
    <header>
      <h1>Bienvenido a tu Casa Inteligente</h1>
      <p>Controla la iluminación, la temperatura y la seguridad de tu hogar con facilidad.</p>
    </header>
  
    <section id="luces">
      <h2>Control de Luces</h2>
      <p>Con nuestra tecnología, puedes encender y apagar las luces de tu hogar desde cualquier lugar, optimizando el consumo energético y aumentando la comodidad.</p>
      <button class="btn" id="btn-luces">Controlar Luces</button>
    </section>
  
    <section id="temperatura">
      <h2>Control de Temperatura</h2>
      <p>Ajusta la temperatura de tu hogar para lograr el ambiente perfecto.</p>
      <button class="btn" id="btn-temperatura">Ajustar Temperatura</button>
    </section>
  
    <section id="seguridad">
      <h2>Seguridad </h2>
      <p>La seguridad de tu hogar es nuestra prioridad. Protegido en todo momento.</p>
      <button class="btn" id="btn-seguridad">Activar Seguridad</button>
    </section>
  </div>
  